@import url('./__columns/footer__columns.css');
@import url('./__author/footer__author.css');
@import url('./__column/footer__column.css');
@import url('./__column-heading/footer__column-heading.css');
@import url('./__column-links/footer__column-links.css');
@import url('./__link/footer__link.css');
@import url('./__social/footer__social.css');
@import url('./__social-heading/footer__social-heading.css');
@import url('./__social-icon/footer__social-icon.css');
@import url('./__social-links/footer__social-links.css');

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  background-color: #1f1f1f;
  box-sizing: border-box;
  }