.header__title {
  display: flex;
  width: 730px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 96px;
  margin-left: 64px;
  font-size: 102px;
  font-weight: 700;
  z-index: 10;
}