@import url('./__title/feynman__title.css');
@import url('./__subtitle/feynman__subtitle.css');
@import url('./__link/feynman__link.css');

.feynman {
  padding-top: 80px;
  margin-top: 0;
  text-align: center;
  position: relative;
  background: #f2f2f2 url(../../images/feynman.png) no-repeat bottom left;
  height: 790px;
  background-size: 867px 637px;
  z-index: 1;
}